.home {
    display: grid;
    grid-template-columns: 7fr 5fr;
}

.postsContainer {
    border-right: 1px solid var(--accents-2);
}

.content {
    margin-top: var(--gap-half);
    padding-inline: var(--gap);
}


.suggestionsContainer {
    padding-block: var(--gap);
    display: grid;
    place-items: center;
}

.suggestionsWrapper {
    border: 1px solid var(--accents-2);
    padding: var(--gap);
    border-radius: var(--radius-small);
    position: fixed;
    transform: translateY(-40%);
}

.suggestionsWrapper h1 {
    margin-bottom: var(--gap);
}