.home {
    display: grid;
    grid-template-columns: 7fr 5fr;

}

.postsContainer {
    border-right: 1px solid var(--accents-2);
    min-height: 100vh;
    background-color: var(--accents-1);
}

.content {
    margin-top: var(--gap-half);
    padding-inline: var(--gap);
}


.suggestionsContainer {
    position: relative;
    padding-block: var(--gap);
    display: grid;
    place-items: center;
}

.suggestionsWrapper {
    border: 1px solid var(--accents-2);
    padding: var(--gap);
    border-radius: var(--radius-small);
    position: fixed;
    top: 75px
}

.suggestionsWrapper h1 {
    margin-bottom: var(--gap);
}