.container {
    width: 100%;
    padding: var(--gap-half) var(--gap);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    gap: var(--gap-half);
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.commentInfo small {
    font-size: small;
    color: var(--accents-5);
}

.nameContainer {
    display: flex;
    align-items: center;
}

.comment {
    margin-block: var(--gap-quarter);
    color: var(--accents-7);
    font-size: 16px;
}

.profileImage {
    border-radius: 50%;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px
}

.iconContainer span {
    color: var(--accents-5);
}

.commentBody {
    display: flex;
    gap: var(--gap);
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.commentsContainer {
    height: 80%;
}

@media screen and(max-width:700px) {
    .commentsContainer {
        height: 100%;
    }
}

@media screen and (max-width: 400px) {
    .container {
        padding-inline: var(--gap-quarter);
    }

    .commentBody {
        flex-direction: column;
        align-items: flex-start;
        gap: 3px
    }

    .iconContainer {
        flex-direction: row;
        align-self: flex-end;
    }

}