.modalBody {
    width: min(95vw, 600px);
    background-color: var(--background);
    border-radius: var(--radius-small);
}

.modalContent {
    width: 100%;
    flex-direction: column;
    min-height: 50vh;
    max-height: calc(100vh - 150px);
    display: flex;
    padding: var(--gap);
    overflow-y: auto;
}

.requestHeader {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 var(--gap-half) 0 var(--gap-half);
    align-items: center;
    border-bottom: 2px solid var(--accents-2);
    width: 100%;
}

.requestHeader p {
    font-size: 18px;
    font-weight: 510;
}

.closeContainer {
    color: var(--accents-3);
    cursor: pointer;
    padding: var(--gap-half);
    border-radius: 50%
}

.nextContainer {
    color: #fff;
    background-color: var(--success-light);
    cursor: pointer;
    font-weight: 800;
    padding: 5px var(--gap-half);
    border-radius: var(--radius-small)
}

.editItem {
    display: flex;
    flex-direction: column;
    gap: var(--gap-quarter);
    margin-bottom: var(--gap);
    outline: none;
}

.editItem textarea,
.editItem input {
    padding: var(--gap-quarter) var(--gap-half);
    font-size: 1rem;
    border: 1px solid var(--accents-3);
    border-radius: var(--radius-tiny);
}

.editItem label {
    color: var(--foreground)
}

.editItem textarea:focus,
.editItem input:focus {
    outline: none;
    border: 1px solid var(--success);
}

.bio {
    width: 100%;
    resize: vertical;
    height: 100px;
}

.errorsContainer {
    margin-left: var(--gap);
    background-color: var(--accents-2);
    font-size: 15px;
}

.errorsContainer p {
    margin: var(--gap-quarter);
    color: var(--success-dark);
}