.container {
    position: sticky;
    top: -0.5px;
    width: 100%;
    z-index: 1;
    height: 60px;
    background-color: var(--background);
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: var(--gap-quarter)
}

.backIcon {
    padding: var(--gap) var(--gap-half);
}

.backIcon:hover {
    background-color: var(--accents-2);
}

.container h1 {
    margin-left: var(--gap);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 25px;
}