.container {
    position: sticky;
    padding: 0 var(--gap-half);
    top: -0.5px;
    width: 100%;
    z-index: 1;
    height: 50px;
    background-color: var(--background);
    border-bottom: var(--border);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    gap: var(--gap-quarter)
}

.backIcon {
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: var(--gap-half) var(--gap-half);
    margin-left: calc(var(--gap-half) * -1);
}

.backIcon:hover {
    background-color: var(--accents-2);
}

.container h1 {

    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 25px;
}