.mainWrapper {
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    column-gap: var(--gap-double);
    width: 100%;
}