.container {
    display: flex;
    flex-direction: column;
}

.navItem {
    display: flex;
    align-items: center;
    gap: var(--gap-half);
    border-radius: var(--radius-big);
    width: fit-content;
    padding: var(--gap-quarter) var(--gap);
}

.navItem:hover {
    background-color: var(--accents-2);
    cursor: pointer;
}

.activeNav {
    color: var(--success);
    font-weight: bold;
}