.modalBody {
    width: min(95vw, 600px);
    background-color: var(--background);
    border-radius: var(--radius-small);
}

.requestHeader {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 var(--gap-half) 0 var(--gap-half);
    align-items: center;
    border-bottom: 2px solid var(--accents-2);
    width: 100%;
}

.requestHeader p {
    font-size: 18px;
    font-weight: 510;
}

.closeContainer {
    color: var(--accents-3);
    cursor: pointer;
    padding: var(--gap-half);
    border-radius: 50%
}

.nextContainer {
    color: var(--success);
    cursor: pointer;
    font-weight: 800;
    padding: var(--gap-half);
    border-radius: 50%
}

.backIcon {
    color: var(--accents-3);
    cursor: pointer;
    display: grid;
    place-items: center;
    padding: var(--gap-half);
    border-radius: 50%
}

.modalContent {
    width: 100%;
    flex-direction: column;
    min-height: calc(50vh);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.fileContent {
    width: 100%;
    min-height: calc(50vh);
    max-height: 80vh;
    display: block;
}

.fileIcons {
    margin-bottom: var(--gap-double);
    position: relative;
    height: 100px;
    width: 100px;
    color: var(--success-light);
    margin-left: -50px;
}

.fileIcons>* {
    position: absolute;
}

.fileIcon1 {
    transform: rotate(25deg);
    left: 50px
}

.selectFile {
    position: relative;
}

.selectFile input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    opacity: 0;
}

.selectFile button {
    font-size: 16px;
    padding: 10px
}


.captionStage {
    justify-content: flex-start;
    height: 100%;
}

.captionContainer {
    position: relative;
    width: 100%;
    height: 50%;

}

.textArea {
    padding: var(--gap-half) var(--gap-half);
    color: var(--accents-7);
    font-size: 18px;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}

.captionContainer textarea {}

.altTextContainer {
    width: 100%;
}

.altTextContainer>div {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    cursor: pointer;
    --border: 2px solid var(--accents-2);
    padding-right: var(--gap-half);
    border-bottom: var(--border);
    border-top: var(--border)
}

.altTextContainer h4 {
    font-weight: normal;
    padding: var(--gap-quarter) var(--gap-half);

}

.altTextArea {
    display: none;
}

.preBody {
    width: min(95vw, 470px);
    background-color: var(--background);
    border-radius: var(--radius-small);
}

.previewContent {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    display: block;
    margin: 0;
    padding: 0;
}

.previewCaption {
    padding: var(--gap-half) var(--gap-half);
    font-size: 15px;
    color: var(--accents-7);
}

.pfileContainer {
    position: relative;
    width: 100%;
    max-height: 700px;
    display: flex;
    justify-content: center;
}

.pfileContainer img {
    width: 100%;
    object-fit: contain;
}