.container {
    background-color: var(--background);
    margin-bottom: var(--gap);
    border: var(--border);
    width: min(100vw, 470px);
    min-height: 150px;
    border-radius: var(--radius-small);
}

.modalBody {
    width: min(95vw, 400px);
    background-color: var(--background);
    border-radius: var(--radius-small);
    max-height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
}

@media screen and (max-width: 500px) {
    .modalBody {
        width: 90vw;
        max-height: 80vh;
    }
}

.actionItem {
    width: 100%;
    padding: var(--gap-half);
    color: var(--accents-7);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--gap-half);
    font-size: 18px;
}


.dangerAction {
    color: var(--error-light)
}

.actionItem:hover {
    background-color: var(--accents-2);
}

.editModal {
    width: min(95vw, 500px);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.editHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 50px;
    padding: 0 var(--gap-half) 0 var(--gap-half);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid var(--accents-2);
    width: 100%;
}

.editHeader p {
    font-size: 18px;
    font-weight: 510;
}

.closeContainer {
    color: var(--accents-3);
    cursor: pointer;
    padding: var(--gap-half);
    border-radius: 50%
}

.saveButton {
    color: white;
    cursor: pointer;
    padding: var(--gap-quarter) var(--gap-half);
}

.modalContent {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-y: auto;
    padding: var(--gap-half);
}

.editItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    gap: var(--gap-quarter);
    margin-bottom: var(--gap);
    outline: none;
}

.editItem textarea,
.editItem input {
    padding: var(--gap-quarter) var(--gap-half);
    font-size: 1rem;
    border: 1px solid var(--accents-3);
    border-radius: var(--radius-tiny);
}

.editItem label {
    color: var(--foreground)
}

.editItem textarea:focus,
.editItem input:focus {
    outline: none;
    border: 1px solid var(--success);
}

.textArea {
    padding: var(--gap-half) var(--gap-half);
    color: var(--accents-7);
    font-size: 18px;
    height: min(40vh, 200px);
    overflow-y: auto;
    width: 100%;
    border: 2px solid var(--accents-2);
    outline: none;
    resize: none;
}

.report {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.reportItem {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--gap-half);
    border-bottom: var(--border);
    padding-block: var(--gap-half);
    margin-bottom: var(--gap);
}

.reportInput {
    height: 20px;
    width: 20px;
    accent-color: var(--success);
}

.reportItem label {
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

@media screen and (max-width: 470px) {
    .container {
        border-radius: 0;
    }
}

.userInfoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px var(--gap-quarter);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.infoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--gap-half);
}

.imageContainer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.avatarContainer {
    display: -ms-grid;
    display: grid;
    border: var(--border);
    place-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.profileImage {
    width: 100%;
    height: 100%;
}

.textEllipsis {
    width: min(350px, 50vw);
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.filesContainer {
    position: relative;
    border-bottom: var(--border);
}

.fileSlider {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden;
    align-tracks: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.fileSlider::-webkit-scrollbar {
    display: none;
}

.fileContainer {
    margin: 0;
    padding: 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: -4px;
    min-height: 30vh;
    background-color: var(--accents-1);
    scroll-snap-align: start;
    position: relative;
}

.postImage {
    width: 100%;
    background-color: var(--accents-3)
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: var(--gap)var(--gap-half);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.aIcon {
    opacity: .4;
    background-color: var(--accents-1);
    border-radius: 50%;
}

.prev {
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.next {
    right: 0;
}

.postStats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: var(--gap-half);
    padding-bottom: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.postIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--gap);
}

.postIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px
}

.postIcon p {
    color: var(--accents-7);
}

.sliderPos {
    color: var(--success);
}

.captionContainer {
    color: var(--accents-7);
    padding: var(--gap-half);
    padding-top: var(--gap-quarter);
    font-size: 1rem;
}

.commentContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    max-height: 100px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-inline: var(--gap-half);
    padding-block: var(--gap-half);
    gap: var(--gap-quarter);
}

.commentContainer textarea {
    background: none;
    border: none;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: inherit;
    max-height: 80px;
    outline: none;
    padding: 0;
    resize: none;
    font-family: var(--font-sans);
    height: 18px;
}

.commentContainer textarea::-webkit-scrollbar {
    display: none
}

.commentContainer button {
    background-color: transparent;
    color: var(--success-light);
    font-weight: bold;
    font-size: 15px;
}

.viewContent {
    width: 600px;
    min-height: 100px;
}

.viewFiles {
    width: 100%;
}

.viewSliderPos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2px
}

.indicator {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--accents-2);
}

.indicatorActive {
    background-color: var(--success);
}

.viewComments {
    height: 100%;
}

.viewFixedBottom {
    background-color: var(--background);
    border-top: var(--border);
    width: 100%;
    min-height: 50px;
    display: block;
    position: sticky;
    bottom: -1px;
}

@media only screen and (max-width: 750px) {
    .viewContent {
        margin-top: 20px;
        display: block;
        width: 100%;
    }

    .viewFiles {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
    }

    .viewComments {
        width: 100%;
        height: auto;
        padding-bottom: 50px;
    }

    .viewFixedBottom {
        bottom: 0;
        margin-inline: auto;
        width: 100vw;
        position: fixed
    }

}