.modalBody {
    width: min(95vw, 450px);
    background-color: var(--background);
    color: var(--foreground);
    border-radius: var(--radius-small);
}

.modalContent {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 50vh;
    max-height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: auto;
    padding-bottom: var(--gap);
}

.requestHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 40px;
    padding: 0 var(--gap-half) 0 var(--gap-half);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid var(--accents-2);
    width: 100%;
}

.requestHeader p {
    font-size: 18px;
    font-weight: 510;
}

.closeContainer {
    color: var(--accents-3);
    cursor: pointer;
    padding: var(--gap-half);
    border-radius: 50%
}

.nextContainer {
    color: #fff;
    background-color: var(--success-light);
    cursor: pointer;
    font-weight: 800;
    padding: 5px var(--gap-half);
    border-radius: var(--radius-small)
}

.itemContainer {
    margin-top: var(--gap-half);
}

.settingItemHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    border-bottom: 1px solid var(--accents-2);
    padding: var(--gap-quarter);
    padding-inline: var(--gap-half);
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    color: var(--foreground);
}

.inputContainer {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    --0: dodgerblue;
    --1: #00ffab;
    --2: rgba(237, 95, 239);
    padding: var(--gap-half);
    margin-bottom: var(--gap-half);
}

.inputContainer label {
    margin-top: 2px;
    font-size: 12px;
    border-radius: var(--radius-big);
    padding: 2px var(--gap-quarter);
    color: black;
}

.inputContainer input[type="radio"] {
    accent-color: var(--success-light);
}

.inputContainer input {
    padding: var(--gap-quarter) var(--gap-half);
    font-size: 1rem;
    border: 2px solid var(--accents-2);
    border-radius: var(--radius-tiny);
    margin-bottom: var(--gap-half);
}

.inputContainerInner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.inputContainer input:focus {
    outline: none;
    border: 1px solid var(--success-light);
}

.inputContainer button {
    background-color: transparent;
    color: var(--success-light);
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.show {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.expand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dangerousActionContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: var(--gap);
    padding-inline: var(--gap);
}

.dangerousActionContainer button {
    margin-top: var(--gap);
    padding: var(--gap-half) var(--gap);
    color: red;
    background-color: transparent;
    border: 1px solid var(--accents-2);
}

.report {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-inline: var(--gap-half);
}

.reportItem {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--gap-half);
    border-bottom: var(--border);
    padding-block: var(--gap-half);
    margin-bottom: var(--gap);
}

.reportInput {
    height: 20px;
    width: 20px;
    accent-color: var(--success);
}

.reportItem label {
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.saveButton {
    color: white;
    cursor: pointer;
    padding: var(--gap-quarter) var(--gap-half);
}