.suggestionsContainer {
    position: relative;
    padding-block: var(--gap);
    padding-left: var(--gap);
}

.suggestionsWrapper {
    border: var(--border);
    padding: var(--gap);
    border-radius: var(--radius-small);
    position: fixed;
    top: 75px
}

.suggestionsWrapper h1 {
    margin-bottom: var(--gap);
    font-size: 1rem;
}

@media screen and (max-width: 750px) {
    .suggestionsContainer {
        padding-block: 0;
        padding-left: 0;
    }

    .suggestionsWrapper {
        padding-block: 0;
        padding-inline: var(--gap-half);
        position: inherit;
        width: 100%;
        border: none;
        top: var(--gap);
        margin-bottom: 75px;
    }
}