.mainContainer {
    display: grid;
    grid-template-columns: 7fr 5fr;
}

.profileContainer {
    border-right: var(--border);
    min-height: 100vh;
    width: 100%;
}

.coverPicContainer {
    position: relative;
}

.cover:hover~.editCover {
    display: block;
}

.editCover {
    display: none;
    padding: var(--gap-half);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.editCover:hover {
    display: block;
}

.profile {
    position: relative;
    transform: translateY(-80px);
    padding-inline: var(--gap-half);
    border-bottom: var(--border);
    padding-bottom: var(--gap);
}

.flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 130px;
    height: max-content;
    gap: var(--gap);
}

.imageContainer {
    position: relative;
    border: 5px solid var(--background);
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.profileImage {
    border-radius: 50%;
}

.avatarContainer {
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    border-radius: 50%;
    place-items: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.avatarContainer:hover {
    display: grid;
}

.profileImage:hover~.avatarContainer {
    display: grid;
}

.profileActBtnContainer {
    margin-bottom: var(--gap-half);
    display: flex;
    gap: var(--gap);
    align-items: center;
    height: fit-content;
}

.profileActBtnContainer button {
    padding: .3em 0;
    font-size: 1.1rem;
    flex-basis: 20%;
    min-width: 100px;
    border-radius: var(--radius-tiny);
    flex-shrink: 0;
    font-weight: normal;
}

.editButton {
    background-color: var(--background);
    color: var(--foreground);
    border: 2px solid var(--accents-2);
}

.modalBody {
    width: min(95vw, 600px);
    background-color: var(--background);
    border-radius: var(--radius-small);
}

.modalContent {
    width: 100%;
    flex-direction: column;
    min-height: calc(50vh);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.requestHeader {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 var(--gap-half) 0 var(--gap-half);
    align-items: center;
    border-bottom: 2px solid var(--accents-2);
    width: 100%;
}

.requestHeader p {
    font-size: 18px;
    font-weight: 510;
}

.closeContainer {
    color: var(--accents-3);
    cursor: pointer;
    padding: var(--gap-half);
    border-radius: 50%
}

.nextContainer {
    color: var(--success);
    cursor: pointer;
    font-weight: 800;
    padding: var(--gap-half);
    border-radius: 50%
}

.backIcon {
    color: var(--accents-3);
    cursor: pointer;
    display: grid;
    place-items: center;
    padding: var(--gap-half);
    border-radius: 50%
}

.fileIcons {

    margin-bottom: var(--gap-double);
    position: relative;
    height: 100px;
    width: 100px;
    color: var(--success-light);
    margin-left: -50px;
}

.fileIcons>* {
    position: absolute;
}

.fileIcon1 {
    transform: rotate(25deg);
    left: 50px
}

.selectFile {
    position: relative;
}

.selectFile input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    opacity: 0;
}

.selectFile button {
    font-size: 16px;
    padding: 10px
}

.userName {
    font-size: 18px;
    font-weight: bold;
    color: var(--accents-7);
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
}

.bio {
    max-width: 400px;
    white-space: pre-line;
}

.countInfo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: var(--gap-half);
    color: var(--accents-7);
}

.countItem {
    font-weight: 600;
    font-size: 1rem;
    line-height: 25px;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
}

.countItemTitle {
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    margin-left: 6px;
    color: var(--accents-6);
}

.dateStarted {
    font-weight: 600;
    white-space: nowrap;
}

.postsContainer {
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .mainContainer {
        grid-template-columns: 1fr;
    }

    .profileContainer {
        min-height: 0;
    }
}