.mainContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7fr 5fr;
    grid-template-columns: 7fr 5fr;
}

.profileContainer {
    border-right: var(--border);
    min-height: 100vh;
    width: 100%;
}

.coverPicContainer {
    position: relative;
}

.cover:hover~.editCover {
    display: block;
}

.editCover {
    display: none;
    padding: var(--gap-half);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.editCover:hover {
    display: block;
}

.profile {
    position: relative;
    -webkit-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    transform: translateY(-80px);
    padding-inline: var(--gap-half);
    border-bottom: var(--border);
    padding-bottom: var(--gap);
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 130px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;

}

.imageContainer {
    position: relative;
    border: 5px solid var(--background);
    overflow: hidden;
    border-radius: 50%;
    outline: var(--border);
    padding: 0;
    margin: 0;
    width: 120px;
    height: 120px;
}

.profileImage {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.avatarContainer {
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.avatarContainer:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.profileImage:hover+.avatarContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.profileActBtnContainer {
    margin-bottom: var(--gap-half);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--gap);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.profileActBtnContainer button {
    padding: .3em 0;
    font-size: 1.1rem;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    min-width: 100px;
    border-radius: var(--radius-tiny);
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-weight: normal;
}

.editButton {
    background-color: var(--background);
    color: var(--foreground);
    border: 2px solid var(--accents-2);
}

.userActions {
    position: absolute;
    padding: var(--gap) 0;
    background-color: var(--background);
    border: var(--border);
}

.actionItem {
    width: 100%;
    padding: var(--gap-half);
    border-bottom: var(--border);
    color: var(--accents-7);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--gap-half);
    font-size: 18px;
}


.dangerAction {
    color: var(--error-light)
}

.actionItem:hover {
    background-color: var(--accents-2);
}

.modalBody {
    width: min(95vw, 600px);
    background-color: var(--background);
    border-radius: var(--radius-small);
}

.modalContent {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: calc(50vh);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: auto;
}

.requestHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 50px;
    padding: 0 var(--gap-half) 0 var(--gap-half);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid var(--accents-2);
    width: 100%;
}

.requestHeader p {
    font-size: 18px;
    font-weight: 510;
}

.closeContainer {
    color: var(--accents-3);
    cursor: pointer;
    padding: var(--gap-half);
    border-radius: 50%
}

.nextContainer {
    color: var(--success);
    cursor: pointer;
    font-weight: 800;
    padding: var(--gap-half);
    border-radius: 50%
}

.backIcon {
    color: var(--accents-3);
    cursor: pointer;
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: var(--gap-half);
    border-radius: 50%
}

.fileIcons {

    margin-bottom: var(--gap-double);
    position: relative;
    height: 100px;
    width: 100px;
    color: var(--success-light);
    margin-left: -50px;
}

.fileIcons>* {
    position: absolute;
}

.fileIcon1 {
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    left: 50px
}

.selectFile {
    position: relative;
}

.selectFile input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    opacity: 0;
}

.selectFile button {
    font-size: 16px;
    padding: 10px
}

.userName {
    font-size: 18px;
    margin-top: -10px;
    font-weight: bold;
    color: var(--accents-7);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
}

.buttonDull {
    background-color: var(--background);
    color: var(--foreground);
    border: var(--border);
}

.bio {
    margin-top: var(--gap-half);
    max-width: 400px;
    white-space: pre-line;
}

.countInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: var(--gap-half);
    color: var(--accents-7);
}

.countItem {
    font-weight: 600;
    font-size: 1rem;
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    cursor: default;
}

.countItemTitle {
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    margin-left: 6px;
    color: var(--accents-6);
}

.dateStarted {
    font-weight: 600;
    white-space: nowrap;
}

.postsContainer {
    margin-top: -60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.followersContent {
    min-height: 50vh;
    max-height: 80vh;
    width: 100%;
    padding: var(--gap);
    overflow-y: auto;

}

.followersContent>div {
    width: min(100%, 300px);
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-inline: auto;
}

@media screen and (max-width: 750px) {
    .mainContainer {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .imageContainer {
        width: 20vw;
        height: 20vw
    }


    .profileContainer {
        min-height: 0;
    }
}

@media only screen and (max-width: 500px) {
    .followersContent {
        padding: var(--gap) var(--gap-half);
    }

    .imageContainer {
        width: 25vw;
        height: 25vw;
    }
}

@media screen and (max-width: 300px) {
    .imageContainer {
        width: 30vw;
        height: 30vw;
    }
}