.main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7fr 5fr;
    grid-template-columns: 7fr 5fr;
}

.exploreContainer {
    border-right: var(--border);
    min-height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.searchContainer {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border-bottom: var(--border);
    padding-block: var(--gap-half);
    position: sticky;
    top: -0.5px;
    margin-bottom: var(--gap-half);
    background-color: var(--background);
    z-index: 1;
}

.searchContainer input {
    width: 90%;
    font-size: 15px;
    padding: var(--gap-quarter) var(--gap-half);
    border-radius: 7px;
    border: none;
    background-color: var(--accents-1);
    border: var(--border);
}

.searchContainer input:focus+.searchIcon {
    display: none;
}

.searchIcon {
    position: absolute;
    right: calc(5% + var(--gap-half));
}

.searchModal {
    width: 100%;
    border-top: var(--border);
    min-height: 30vh;
    background-color: var(--background);
    margin-top: calc(var(--gap-half) * -1);
    position: absolute;
    top: calc(60px + var(--gap-half) - 8px);
    height: calc(100vh - 50px);
    z-index: 1;
}

.searchHeader {
    padding-inline: var(--gap-half);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tabItem {
    position: relative;
    padding-block: var(--gap-quarter);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-x: hidden;
    text-align: center;
    border-bottom: var(--border);
    cursor: default
}

.tabActive {
    -webkit-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    transform: translateX(0) !important;
}

.indicator {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--success);
    will-change: transform;
    -webkit-transition: -webkit-transform .15s linear;
    transition: -webkit-transform .15s linear;
    -o-transition: transform .15s linear;
    transition: transform .15s linear;
    transition: transform .15s linear, -webkit-transform .15s linear;
}

.indOne {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.indTwo {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}



.closeSearch {
    margin-left: var(--gap-half);
    padding-block: var(--gap-quarter);
    color: var(--success);
    cursor: pointer;
    scrollbar-width: 0;
}

.searchResults {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}

.searchResults::-webkit-scrollbar {
    display: none;
}

.resultsContainer {
    scroll-snap-align: start;
    padding: var(--gap);
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 85vh;
    overflow-y: scroll;
    scrollbar-width: 0;
}

.resultsContainer::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 750px) {
    .main {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .exploreContainer {
        min-height: 0;
    }
}