:root {
  --background: #FFF;
  --accents-1: #FAFAFA;
  --accents-2: #EAEAEA;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --foreground: #000;
  --error-lighter: #F7D4D6;
  --error-light: #FF1A1A;
  --error: #E00;
  --error-dark: #C50000;
  --success-lighter: #D3E5FF;
  --success-light: #3291FF;
  --success: #0070F3;
  --success-dark: #0761D1;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}