.home {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7fr 5fr;
    grid-template-columns: 7fr 5fr;
}

.headerContainer {
    position: sticky;
    top: -0.5px;
    width: 100%;
    z-index: 1;
    height: 50px;
    padding-inline: var(--gap);
    border-bottom: var(--border);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--background);
}

.postsContainer {
    border-right: var(--border);
    min-height: 100vh;
}

.content {
    margin-top: var(--gap-half);
    padding-inline: var(--gap);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


@media screen and (max-width: 750px) {
    .home {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .headerContainer {
        display: none;
    }

    .postsContainer {
        padding-top: 50px;
        min-height: 0;
    }

    .content {
        padding-inline: 0;
    }
}