.widthControlWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.widthControl {
    width: min(100%, 1300px);
    padding-inline: var(--gap);
}

.sectionsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--space-24x);
}

.heroMainContainer {
    min-height: 100vh;
}

.header {
    width: 100%;
    padding: var(--gap-half) 0;
}

.scrolled {
    background-color: var(--success);
    -webkit-box-shadow: 0 0 10px var(--error-light);
    box-shadow: 0 0 10px var(--error-light);
}

.logoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--gap);
}

.logoContainer>img {
    width: 60px
}

@media screen and (max-width: 600px) {
    .logoContainer>h2 {
        display: none;
    }
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.headerButtonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--gap);

}

.button {
    padding: var(--gap-half) calc(var(--gap) + var(--gap-half));
    font-size: var(--font-size);
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    background-color: var(--background);
    border: var(--border);
    color: var(--foreground)
}

.rainbow {
    background: -webkit-gradient(linear, left top, right top, from(#ff2400), color-stop(#e81d1d), color-stop(#e8b71d), color-stop(#e3e81d), color-stop(#1de840), color-stop(#1ddde8), color-stop(#2b1de8), color-stop(#dd00f3), to(#dd00f3));
    background: -o-linear-gradient(left, #ff2400 0% 10%, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background: linear-gradient(90deg, #ff2400 0% 10%, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    color: white;
    font-weight: 800;
}

.button:active {
    background-color: blueviolet !important;
}


.buttonOutline {
    background-color: var(--background);
    border: var(--border);
    color: var(--foreground)
}

.button:last-child:hover {
    background-color: var(--success);
    color: var(--background);
}

.buttonOutline:hover {
    color: var(--success);
    border-color: var(--success);
}

.heroContainer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: var(--gap);
    gap: var(--space-large);
    --circleDiameter: 25vw;
    --planets: calc(var(--circleDiameter) / 4)
}

@media screen and (max-width: 768px) {
    .heroContainer {
        margin-top: 50px;
        padding: var(--gap) 0;
        --circleDiameter: 55vw;
        --planets: calc(var(--circleDiameter) / 4)
    }
}

@media screen and (max-width: 400px) {
    .heroContainer {
        --circleDiameter: 60vw;
        --planets: calc(var(--circleDiameter) / 4)
    }
}

.heroImageContainer {
    display: -ms-grid;
    display: grid;
    place-items: end;
    overflow: hidden;
    padding: 50px;
    width: min(100%, 600px);
}

.heroImageContainerInner {
    position: relative;
    background: #FFF5F5;
    display: -ms-grid;
    display: grid;
    place-items: center;
    border-radius: 100%;
    width: var(--circleDiameter);
    aspect-ratio: 1;
}

.heroCircle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.heroRotate {
    position: relative;
    width: 100%;
    height: 100%;
    border: 7px solid white;
    border-radius: 100%;
    -webkit-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
}

.planet {
    position: absolute;
    width: var(--planets);
    aspect-ratio: 1;
    border-radius: 100%;
    -webkit-animation: maintain 30s linear infinite;
    animation: maintain 30s linear infinite;
}


.planet:nth-child(1) {
    top: calc(-1 * var(--planets) / 2);
    left: calc(var(--circleDiameter)/ 2 - var(--planets) / 2 - 5px)
}

.planet:nth-child(2) {
    top: calc(var(--circleDiameter)/ 2 - var(--planets) / 2 - 5px);
    right: calc(-1 * var(--planets) / 2);
}

.planet:nth-child(3) {
    top: calc(var(--circleDiameter)/ 2 - var(--planets) / 2 - 5px);
    left: calc(-1 * var(--planets) / 2);
}

.planet:nth-child(4) {
    left: calc(var(--circleDiameter)/ 2 - var(--planets) / 2 - 5px);
    bottom: calc(-1 * var(--planets) / 2);
}

.planet>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 5px solid white;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    -webkit-animation: scale 1s linear infinite alternate;
    animation: scale 1s linear infinite alternate;
}

@-webkit-keyframes morph {

    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }

    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

@keyframes morph {

    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }

    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes maintain {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes maintain {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.heroHeading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: min(95%, 600px);
    gap: var(--gap);
    text-align: left
}

.headerLarge {
    color: white;
    font-size: 4rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -0.05em;
}

.headerMedium {
    color: white;
    font-size: 3rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -0.05em;
}

.headerSmall {
    color: white;
    font-size: 2rem;
    line-height: 1;
    font-weight: 800;
    margin-bottom: var(--gap);
    letter-spacing: -0.05em;
}

.headerXSmall {
    color: white;
    font-size: 1rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -0.05em;
}

@media screen and (max-width: 700px) {
    .heroHeading {
        max-width: 100%;
    }

    .headerLarge {
        font-size: 3rem;
    }

    .headerMedium {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .widthControl {
        padding-inline: var(--gap-half);
    }

    .header {
        padding: 0;
    }

    .nav {
        padding: var(--gap-half) 0;
    }

    .headerButtonContainer .button {
        padding: 10px var(--gap-half);
        font-size: 14px;
    }

    .heroHeading {
        max-width: 100%;
    }

    .headerLarge {
        font-size: 2.5rem;
    }

    .headerMedium {
        font-size: 2rem;
    }

    .headerSmall {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 350px) {

    .heroHeading {
        max-width: 100%;
    }
}

.txL {
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.txS {
    color: white;
    font-size: 1rem;
    line-height: 1.3rem;
}


.section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--space-32x);
    text-align: center;
}

.twoCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
    gap: var(--gap)
}



@media screen and (max-width: 768px) {
    .heroImageContainer {
        place-items: center;
        padding: 50px 0;
    }

    .section {
        gap: var(--space-16x)
    }

    .twoCol {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .changePosition {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
}

.text80 {
    max-width: 600px;
    min-width: 0;
}

.sectionContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.demoScale {
    opacity: 1;
    -webkit-animation: scaleDemo .5s linear;
    animation: scaleDemo .5s linear
}

.demoScaleReverse {
    opacity: 1;
    animation: scaleDemo .5s linear reverse;
}

@-webkit-keyframes scaleDemo {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }

    80% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scaleDemo {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }

    80% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.demoContainer {
    background-color: var(--success);
}

.sendRequestDemo {
    padding-top: var(--gap);
    border-radius: var(--radius-small);
    background-color: var(--background);
    text-align: left;
    width: min(95%, 470px);
    margin-inline: auto;
}

.urlBar {
    margin: 0 var(--gap-half) var(--gap);
    padding: var(--gap-quarter) var(--gap-half);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--gap-half);
    background-color: var(--accents-2);
    border-radius: var(--radius-small);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--accents-6);
}

.profileTop {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0 var(--space-16x) var(--space-24x);
    background-color: var(--background);
    border-radius: 25px;
}

@media screen and (max-width:768px) {
    .profileTop {
        padding: 0 var(--gap) var(--gap);
    }
}

.infoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    gap: var(--gap)
}

.imageContainer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.profileImage {
    width: 100%;
    height: 100%;
}

.titleContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
}

.userName {
    font-weight: normal;
    font-size: 22px;
    padding-bottom: var(--gap-quarter);
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: var(--accents-6);
}

.realName {
    font-weight: 500;
    font-size: 25px;
    max-width: 350px;
}

.requestContainer {
    margin: var(--gap-half) 0px 0px;
}

.bio {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 450px;
    white-space: pre-line;
    margin-top: 10px;
    color: var(--accents-6);
}

.countInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 22px;
    color: var(--accents-7)
}

.countItem {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    cursor: default;
}

.countItemTitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    margin-left: 6px;
    color: var(--accents-6)
}

@media only screen and (max-width:500px) {
    .profileBottom {
        margin-bottom: 50px
    }

    .profileTopContainer {
        -webkit-box-pack: grid;
        -ms-flex-pack: grid;
        justify-content: grid;
        place-items: center;
        padding-inline: var(--gap-quarter);
        padding-bottom: 0;
    }

    .followingContent {
        padding: var(--gap) var(--gap-half);
    }


    .infoWrapper {
        display: -ms-grid;
        display: grid;
        place-items: center;
        text-align: center;
    }

    .infoContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: var(--gap-half)
    }

    .actions {
        position: absolute;
    }

    .userName {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .requestContainer {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .bio {
        text-align: center;
    }
}


.requestModal {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background-color: var(--background);
    border-radius: var(--radius-small);
    margin-inline: auto;
    width: min(95%, 470px);
}

.mRequestContainer {
    position: relative;
    width: 100%;
    margin-top: 0;
    padding-bottom: var(--gap);
}

.requestHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: var(--gap-half);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: var(--border);
    width: 100%;
}

.requestHeader p {
    font-size: 18px;
    font-weight: 510;
}

.closeContainer {
    color: var(--accents-3);
    cursor: pointer;
    border-radius: 50%
}

.reqProfileImage {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.requestButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--gap-half);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.requestButtons button {
    font-size: 20px;
    padding: .5em .2em;
    width: 90%
}

.acceptBtn {
    background-color: var(--success);
    margin-bottom: var(--gap-half);
}

.declineBtn {
    background-color: transparent;
    border: 1px solid var(--error);
    color: var(--error)
}



.messagePageContainer {
    width: min(90vw, 470px);
    height: 80vh;
    padding-inline: var(--gap-half);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.messagingContainer {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    border: var(--border);
    border-radius: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}



.msgHeader {
    padding: 0 var(--gap);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: var(--border);
    height: 60px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    gap: var(--gap-quarter);
    overflow-y: hidden;
}

.backIcon {
    padding: var(--gap-half) var(--gap);
}

@media screen and (max-width: 768px) {
    .messagePageContainer {
        padding: 0;
        border-right: none;
    }

    .messagingContainer {
        height: 100%;
        padding-inline: 0;
        border: none;
    }

    .usersMessagesContainer {
        border-right: none;
    }

    .backIcon {
        padding-inline: 0;
    }
}

@media screen and (max-width: 400px) {
    .header {
        padding: 0 var(--gap-half);
    }
}


.imageContainer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.avatarContainer {
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: var(--border);
    cursor: pointer;
}

.profileImage {
    width: 100%;
    height: 100%;
}

.chatContainer {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    position: relative
}

.pmWrapper {
    padding: var(--gap) var(--gap-half) 0;
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: left;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.pmWrapper::-webkit-scrollbar {
    display: none;
}


.writeMessageContainer {
    background-color: var(--background);
    margin: 10px;

}

.textAreaContainer {
    height: 50px;
    width: 100%;
    border: var(--border);
    border-radius: var(--radius-big);
    padding-inline: var(--gap-half);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--gap-half)
}


.msgDemo {
    opacity: 0;
}

.messageAnime {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}


@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}