.pageMain {
    width: min(100%, 1300px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 90%;
    box-shadow: 0 0 10px var(--accents-2);
    background-color: var(--success);
    height: 80%;
    display: grid;
    border-radius: var(--radius-small);
    color: white;
    grid-template-columns: 1fr 1fr;
}

.deco {
    background: url("/illu.gif");
    background-position: center;
    background-size: cover;
    border: 10px solid var(--success);
    border-radius: 15px 0 0 15px;
}

.formContainer {
    padding: var(--gap);
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
}

.form {
    margin: var(--gap);
    padding: var(--gap);
    border-radius: var(--radius-small);
    background-color: var(--background);
    color: var(--foreground);
}

.formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    gap: 5px
}

.formItem input {
    padding: var(--gap-quarter) var(--gap-half);
    font-size: 1rem;
    border: 2px solid var(--accents-2);
    border-radius: var(--radius-tiny);
}

.formItem input:focus {
    outline: none;
    border: 2px solid var(--success);
}

.form button {
    padding: var(--gap-quarter) var(--gap);
    font-size: 1rem;
}

.errorsContainer {
    font-size: 12px;
}

.errorsContainer p {
    margin-top: 5px;
    color: red
}

@media only screen and (max-width: 750px) {
    .main {
        display: block;
        width: 100%;
        height: 100%;
    }

    .deco {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .formContainer {
        padding: 0;
        padding-top: var(--gap-half);
    }

    .form {
        padding: var(--gap) var(--gap-half);
        margin: var(--gap-half);
    }
}