.messagePageContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    border-right: var(--border);
}

.messagingContainer {
    display: flex;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    border: var(--border);
}

@media screen and (max-width: 750px) {
    .messagingContainer {
        height: 95%;
    }
}

.usersMessagesContainer {
    height: 100%;
    width: 100%;
    flex: 1.5;
    border-right: 1px solid var(--accents-2);
    overflow-y: auto;
    border-right: 2px solid var(--accents-2);
    overflow-y: hidden;
    position: relative;
}

.header {
    padding: 0 var(--gap);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border);
    height: 60px;
    flex-shrink: 0;
    gap: var(--gap-quarter);
    overflow-y: hidden;
}

.backIcon {
    padding: var(--gap-half) var(--gap);
}


@media screen and (max-width: 400px) {
    .header {
        padding: 0 var(--gap-half);
    }
}


.searchContainer {
    padding: 0 var(--gap-half);
    display: flex;
    align-items: center;
    height: 50px;
}

.search {
    border: none;
    width: 100%;
    padding: var(--gap-quarter) var(--gap-quarter);
    background-color: var(--accents-1);
    border-radius: var(--radius-tiny);
    border: var(--border);
    outline: none;
}

.chatItemsContainer {
    height: calc(100% - 100px);
    padding-bottom: var(--gap);
    overflow-y: auto;
}

.chatItemContainer {
    display: flex;
    position: relative;
    min-width: 0;
    padding: var(--gap-quarter);
    cursor: pointer;
}

.chatItemContainer:hover {
    background-color: var(--accents-2);
}

.chatItemActive {
    border-left: 3px solid var(--success);
    background-color: var(--error-lighter);
}

.imageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarContainer {
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: var(--border);
    cursor: pointer;
}

.profileImage {
    width: 100%;
    height: 100%;
}

.messageInfoContainer {
    padding-left: var(--gap-half);
    flex-grow: 1;
    overflow-x: hidden;
}

.messageTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--gap-quarter);
}

.messageTop h4,
.messageTop h5 {
    font-weight: 400;
}

.messageTop h5 {
    font-size: 0.8rem;
}

.message {
    color: var(--accents-5);
    width: 80%;
    font-size: .8rem;

}

.chatContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 3;
    position: relative
}

.pmWrapper {
    padding: var(--gap) var(--gap-half) 0;
    height: calc(100% - 100px);
    overflow-y: auto;
}

.messageContainer {
    width: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    margin-bottom: var(--gap-quarter);
    position: relative;
    vertical-align: baseline;
}

.messageInner {
    max-width: 70%;
    align-self: flex-start;
    border-radius: 22px;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 44px;
    padding: var(--gap-half);
    border: 2px solid var(--accents-2);
}

.textImage {
    width: min(80%, 300px);
    aspect-ratio: 1/1;
    object-fit: cover;
}

@media only screen and (max-width: 500px) {
    .messageInner {
        max-width: 85%;
    }

    .textImage {
        width: 100%;
        height: auto;
    }
}

.messageSent {
    background-color: var(--accents-2);
    align-self: flex-end;
}

.writeMessageContainer {
    background-color: var(--background);
    margin: 10px;

}

.textAreaContainer {
    width: 100%;
    border: var(--border);
    border-radius: var(--radius-big);
    display: flex;
    align-items: center;
}

.commentContainer {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    padding-inline: var(--gap-half);
    padding-block: var(--gap-half);
    gap: var(--gap-quarter);
}

.commentContainer textarea {
    background: none;
    border: none;
    flex-grow: 1;
    font-size: inherit;
    max-height: 300px;
    outline: none;
    padding: 0;
    resize: none;
    font-family: var(--font-sans);
    height: 18px;
}

.commentContainer button {
    background-color: transparent;
    color: var(--success-light);
    font-weight: bold;
    font-size: 15px;
}

@media screen and (max-width: 650px) {
    .messagePageContainer {
        padding: 0;
        border-right: none;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: var(--background);
    }

    .messagingContainer {
        padding-inline: 0;
        border: none;
    }

    .usersMessagesContainer {
        border-right: none;
    }

    .backIcon {
        padding-inline: 0;
    }

    .pmWrapper {
        padding: 40px var(--gap-half) 15px;
        height: 100%;
    }

    .commentContainer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--background);
        padding-block: calc(var(--gap-quarter) + var(--gap-half));
        border: var(--border);
    }
}