.main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7fr 5fr;
    grid-template-columns: 7fr 5fr;
}

.ntfsContainer {
    border-right: var(--border);
    min-height: 100vh;
    width: 100%;
}

.notifContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: var(--gap) 0 0 var(--gap-half);
    background-color: var(--background);
    gap: var(--gap);
    width: 100%;
}

.notifContainer:hover {
    background-color: var(--accents-2);
}

/* .notifIconContainer {} */

.notifInfoContainer {
    padding-bottom: var(--gap);
    padding-right: var(--gap-half);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-bottom: var(--border)
}

.notifImagesContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: var(--gap-quarter);
}

.imageContainer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.avatarContainer {
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: var(--border);
    cursor: pointer;
}

.profileImage {
    width: 100%;
    height: 100%;
}

.userName {
    font-size: 18px;
    font-weight: bold;
    color: var(--accents-7)
}

@media screen and (max-width: 750px) {
    .main {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .headerContainer {
        display: none;
    }

    .ntfsContainer {
        min-height: 0;
    }
}