.container {
    height: 80%;
    border: var(--border);
    margin: 0 var(--gap-quarter);
}



@media only screen and (max-width: 750px) {
    .container {
        height: 100%;
        border: none;
        margin: 0;
    }

}